* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: rgb(111, 180, 180);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  flex: 0.5;
  margin: 1rem;
  text-align: center;
  /* position: absolute; */
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 2rem;
  position: relative;
  top: 565px;
  /* left: 20px; */
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
}

.panel:hover {
  transform: translateY(0.3rem);
}
